script(src="../../../jquery/jquery-2.1.4.min.js")
link(rel='stylesheet', type='text/css', href="../../../bootstrap/bootstrap.min.css")
link(rel='stylesheet', type='text/css', href="../../../stylesheets/style.css")
link(rel='stylesheet', type='text/css', href="../../../stylesheets/album.css")
link(rel='stylesheet', type='text/css', href="../../../stylesheets/base.css")
link(rel='stylesheet', type='text/css', href="../../../validation/validationEngine.jquery.css")
script(src="../../../bootstrap/bootstrap.min.js")
script(src="../../../validation/jquery.validationEngine-en.js")
script(src="../../../validation/jquery.validationEngine.js")
script(src="../../../javascripts/detail.js")
script(src="../../../javascripts/validate.js")


